*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #F3F5FC;

}
.inicial{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0%;
}
.inicial__logo{
    width: 120px;
    height: 48px;
}
.inicial__area{
    width: 400px;
    height: 944px;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.inicial__area__mensagem{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    width: 400px;
    height: 944px;
}

.inicial__area__mensagem__imagem{
    width: 336px;
    height: 304px;
}