@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #F3F5FC;
}
.inicial{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2%;
}
.inicial__areaEsquerda{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.inicial__areaEsquerda__topo{
    margin-bottom: 180%; /* Adicionar margem inferior para separação */
}
.inicial__areaEsquerda__base{
    margin-top: 50%; /* Adicionar margem superior para separação */
}
.inicial__areaEsquerda__logo{
    width: 120px;
    height: 48px;
}
.inicial__areaEsquerda__caixaTexto{
    font-size: 32px;
    font-family: "Inter", sans-serif;
    color: #0A3871;
}
.inicial__areaEsquerda__info{
    display: flex;
    padding: 10% 0% 0% 0%;
    gap: 1%;
}
.inicial__areaEsquerda__info__imagemInfo{
    width: 16px;
    height: 16px;
}
.inicial__areaEsquerda__info__textoInfo{
    font-size: 12px;
    font-family: "Inter", sans-serif;
}
.inicial__areaEsquerda__botoes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 5% 0% 20% 0%;
}
.inicial__areaEsquerda__botoes__cript{
    background-color: #0A3871;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    padding: 12% 50% 12% 50%;
    border-radius: 30px;

}
.inicial__areaEsquerda__botoes__descript{
    background-color: #D8DFE8;
    font-family: "Inter", sans-serif;
    color: #0A3871;
    padding: 12% 50% 12% 50%;
    border-radius: 30px;
    border: 1px solid #0A3871;
}
.inicial__areaDireita{
    width: 400px;
    height: 944px;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.inicial__areaDireita__areaMensagem{
    display: flex;
    padding: 0% 8% 0% 8%;
    border: 1px solid #000000;
    border-radius: 30px;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    width: 400px;
    height: 944px;
}

.inicial__areaDireita__areaMensagem__imagem{
    width: 336px;
    height: 304px;
}
.inicial__areaDireita__areaMensagem__mensagem{
    text-align: center;
    margin: 4%;
    font-family: "Inter", sans-serif;
}
.inicial__areaDireita__areaMensagem__mensagemInfo{
    text-align: center;
    font-family: "Inter", sans-serif;
    color: #495057;
}